bin/
.settings/
RemoteSystemsTempFiles/
.metadata/
/.recommenders/
huaxia/doc/
tomcat/bin/
tomcat/conf/
tomcat/lib/
tomcat/logs/
tomcat/temp/
tomcat/webapps/
tomcat/work/
.settings/
*.zip
lib/
build/
lib/
api/
mytomcat/
caches/
daemon/
*.dll
*.lock
*.class
.classpath
.project
*.mp4
.DS_Store
*.log
*.db